<!DOCTYPE html>
<html>

<head>
  <title>Film Lookup</title>
  <% include ../partials/head.ejs %>
    <script type="text/javascript" src="/js/lookup.js"></script>
</head>

<body onload="getFilms()">
  <div class="container">

    <header class="header">
      <h1>Film Lookup</h1>
      <h2>Welcome</h2>
    </header>

    <nav class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
    </nav>

    <article class="article">
      <br>
      <div id="message"></div>
      <br>
      <br>
      <center>

        <p>After the table is loaded, search for a film number. Try films that does not exist in the database to see another animation.</p>

        <input type="text" class="expandable" id="film_number" name="number" onkeyup="lookup()" placeholder="Search by film number...">
        <br>

        <input type="radio" name="method" onchange="lookup()" id="matching" checked> Matching<br>
        <input type="radio" name="method" onchange="lookup()" id="containing"> Containing<br>
        <br>
        <br>

        <div id="loader"></div>

        <table id="films_table" style="visibility: hidden; opacity: 0;">
          <tr class="tr_header">
            <th>Film</th>
            <th>Location</th>
            <th>Created at</th>
          </tr>
        </table>

        <center id="toast">
          <p id="ptoast">Not Found</p>
        </center>

      </center>
    </article>

    <% include ../partials/footer.ejs %>
  </div>
</body>

</html>
