<!DOCTYPE html>
<html>

<head>
  <title>Film Lookup</title>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

    <div>
      <p>Hello World!!</p>

    </div>

</body>

</html>
